apiVersion: v1
kind: Service
metadata:
  name: {{ include "gadgetron.fullname" . }}-metrics
  labels:
    {{- include "gadgetron.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: metrics
  selector:
    {{- include "gadgetron.selectorLabels" . | nindent 4 }}